.side-bar {
  width: 320px;
  margin-bottom: 20px;
  position: sticky;
  top: 10px;
  z-index: 1;
}

.main-container {
  max-width: 1280px;
  width: calc(100% - 50px);
  margin-right: auto;
  margin-left: auto;
}

.footer {
  text-align:center;
  padding:20px 0;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.wip {
  width: 100%;
}

.name {
  
  border-bottom: 2px #0bd solid;
}

.side-bar {
  width: 22%;
}

.header {
  background-image: url(./header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.nav {
  display: flex;
  text-transform: uppercase;
  margin-top: 34px;
  height: 20px;
  list-style: none;
  cursor: pointer;
  font-size: 12px;
  margin-right: 40px;
}

.nav li {
  margin-left: 36px;
}

.skills {
  display: flex;
}

.work {
  display: flex;
  justify-content: space-between;
}